@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* Mobile first */

/* MENU */
li{
  list-style: none;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
}
.container{
  max-width: 425px;
}
a {
  text-decoration: none;
  color: black;
}

.inscription {
  margin-right: 15px;
  color: #0065fc;
  font-weight: bold;
}

.logo img {

  margin: 15px 15px;
  width: 100px;
}

.header {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100%;
  order: 2;
  display: flex;


}

.navigation a {
  padding-bottom: 15px;
  border-bottom: 4px solid rgba(28, 110, 164, 0.08);
  width: 50%;
  text-align: center;

}

.navigation a:hover {
  border-bottom: solid;
  font-weight: bolder;
  cursor: pointer;
  color: #0065fc;
}

/* SOUS MENU */
.sousmenu{
  margin: 15px;
}
h1 {
  font-size: 1.5em;
}

.titre p {
  font-size: 1.2em;
}
/* RECHERCHE */

.fa-map-marker-alt {
  font-size: 20px;
}

.geo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 30%;
  border-radius: 10px 0px 0px 10px;
}

.recherche {
  border: solid;
  border-width: 2px;
  border-radius: 10px 10px 10px 10px;
  border-color: #f2f2f2;
  display: flex;
  justify-content: center;
  height: 50px;
}

.recherche button {
  align-items: center;
  color: white;
  background-color: #0065fc;
  font-size: 1em;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  width: 20%;
}

input {
  border: none;
  font-size: 1em;
  font-weight: bold;
  max-width: 70%;
}

input::placeholder{
  color: black;
}
.search {
  display: none;
}

.search2 {
  display: inherit;
}

/* filtre */

.filtre ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  padding: 0;
}
.filtre i {
  font-size: 1em;
  padding: 10px;
  border: #deebff solid;
  background-color: #deebff;
  border-radius: 100px;
  color: #0065fc;
  margin-right: 20px;
}

.filtre ul li {
  margin-top: 10px;
  font-weight: bold;
  padding-right: 20px;
  border: #deebff solid;
  border-radius: 40px;
}

.filtre ul li:hover {
  transform: scale(1.04);
  transition-duration: 0.2s;
  border-color: #0065fc;
}

/* info */

.info {

  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1em;
  align-items: center;
}

.i {
  margin-right: 20px;
  font-weight: bold;
  font-size: 2em;
  border: #deebff solid;
  border-radius: 50px;
  color: white;
  background-color: #0065fc;
}

/* Hébergement à Marseille */
.main{
  display: flex;
  flex-direction: column-reverse;
}
h3 {
  font-size: 1em;
  font-weight: 800;
}
.no_checked {
  color: rgb(202, 199, 199);
  font-size: 15px;
}
.checked {
  color: #0065fc;
}

.hebergement_marseille {
margin: 15px;
}

.hebergement_marseille h2 {

  padding-top: 25px;
  padding-bottom: 25px;
}

.bloc_hebergement {
  padding: 0.3em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.35);
}
.text_bloc_hebergement h3 {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 10px;
}
.text_bloc_hebergement p {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 10px;
}
.vote {
  display: flex;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 10px;
}
.hebergement_marseille img {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 20px 20px 0 0;
}

.plus {

  font-size: 1.3em;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 5px;
}

/* les plus populaire */


.populaire {
  padding-bottom: 20px;
  background-color: #f2f2f2;
}

.populaire img {
  object-fit: cover;
  width: 100px;
  height: 130px;
  border-radius: 20px 0px 0 20px;
  padding: 0.3em;
}

.titre_populaire {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sigle_populaire {

  font-size: 2em;
}

.bloc_populaire {
  margin: 15px;
  background-color: white;
  margin-bottom: 15px;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-radius: 20px;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.35);
}
.vote_pop{
  display: flex;
  margin: 5px;
  margin-bottom: 10px;
}
.text_bloc_populaire {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 10px;
}
.infos_populaire{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text_bloc_populaire p {
margin-top: 5px;
;
}
.text_bloc_populaire h3 {
  margin: 0px;
}

/* Activités à marseille */

#activites_marseille {
  margin: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#activites_marseille h2 {
  padding-top: 25px;

}
.bloc_activite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}

.bloc_activite img {
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.colone_1_3 {
  margin-top: 25px;
  border-radius: 15px 15px;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.35);
}

.colone_1_3 img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.colonne_2 {
  display: flex;
  flex-direction: column;
}

.colonne_2 img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.colonne_4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colonne_4 img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.small_bloc {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.35);
}


.bloc_activite h3 {
  padding-left: 10px;
}

/* footer */

.footer {
  margin-top: 20px;
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blocfooter {
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.blocfooter ul{
  padding: 0;
}
.blocfooter ul li {
  margin-top: 10px;
  margin-left: 0;
}

.blocfooter h2 {
  margin-top: 50px;
  margin-bottom: 5px;
}

/* DESKTOP */

@media screen and (min-width: 1025px) {

  .container{
    margin: auto;
    max-width: 1420px;
  }
  .header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . nav inscription";
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .navigation {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  .logo {
    grid-area: logo;
  }
  .inscription {
    grid-area: inscription;
    display: flex;
    justify-content: center;
    padding: 2em;
  }
  .navigation a {
    padding: 2em;
    border: none;
    text-align: center;
  }

  .navigation a:hover {
    border-top: solid;
    border-bottom: none;
    font-weight: bolder;
    cursor: pointer;
    color: #0065fc;
  }

  /* RECHERCHE */
.sousmenu{
  margin: 0;
}
  .search {
    display: inherit;
  }
  .search2 {
    display: none;
  }

  .recherche {
    justify-content: normal;
    max-width: 40%;

  }
  .geo {
    width: 20%;
  }

  .recherche button {
    width: 30%;
  }
  input{
    margin-left: 25px;
  }

  /* filtre */

  .filtre {
    
    margin-top: 15px;
    display: flex;
    width: 75%;
    flex-direction: row;
    align-items: center;
  }

  .filtre ul{
 
    padding: 0;
    margin: 0;
    flex-direction: row;
  }

  .filtre ul li{
    margin-left: 20px;
    margin-top: 0;
  }

  /* Hébergement à Marseille */
  .main {
    width: 100%;
    flex-direction: unset;
  }

  .hebergement_marseille {
    border-radius: 20px;
    width: 80%;
    background-color: #f2f2f2;
    margin: 0;
    margin-right: 10px;
  }
  .hebergement_marseille h2{
    margin-left: 15px;
  }
  .ligne_hebergement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .populaire {
    border-radius: 20px;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .text_bloc_populaire{
    margin-top: 5px;
    margin-left: 5px;
  }
.infos_populaire{
  justify-content: space-around;
}
  .main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .bloc_hebergement {
    width: 30%;
    background-color: white;
  }
  .plus{
  margin-left: 15px;
}
  /* Activités à marseille */

  #activites_marseille{
    margin: 0;
    margin-top: 20px;

  }
  #activites_marseille h2 {
    margin: 0 15px 0 15px;
  }
  
  #activites_marseille h3 {
    font-size: 1.2em;
  }

  .bloc_activite {
    flex-direction: row;
    align-items: flex-end;
  }
  .colone_1_3 {
    margin: 0;
    height: 100%;
    width: 24%;
  }
  .colone_1_3 img {
    height: 410px;
  }
  .colonne_2 {
    width: 24%;
  }
  .colonne_2 img {
    height: 160px;
  }
  .colonne_4 {
    width: 24%;
  }
  .colonne_4 img {
    height: 160px;
  }
  /* footer */

  .footer {
    margin: 0;
    margin-top: 20px;
    padding-bottom: 20px;
    flex-direction: row;
    border-radius: 20px;
  }
  .blocfooter h2 {
    margin-top: 10px;
  }
}

/* TABLETTE XL */

@media screen and (min-width: 769px) and (max-width: 1024px){

  .container{
    margin: auto;
    max-width: 1024px;
  }



  /* RECHERCHE */


  .recherche {
    justify-content: normal;
    max-width: 40%;
  }
  .geo {
    width: 20%;
  }

  .recherche button {
    width: 20%;
  }
input{
  width: 60%;
}
  /* filtre */

  .filtre {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* Hébergement à Marseille */



.plus{
  margin-left: 15px;
  padding-bottom: 25px;
}
  .hebergement_marseille {
    margin: 0;
    margin-top: 10px;
    background-color:white;
  }
  .hebergement_marseille h2{
    margin: 15px;
  }
  .hebergement_marseille img{
    height: 200px;
  }
  .ligne_hebergement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .populaire {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .populaire img {
    object-fit: cover;
    width: 99%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    padding: 0.3em;
  }
  .bloc_populaire{
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  .main {
    width: 100%;
    justify-content: space-between;

  }
.text_bloc_populaire{
  justify-content: center;
  margin-left: 30px;
  
}
.vote_pop{
  margin-right: 45px;
}
.infos_populaire{
  display: flex;
  flex-direction: row;
  align-items: center;
}
  .bloc_hebergement {
    width: 30%;
    background-color: white;
  }

  /* Activités à marseille */

  #activites_marseille h2 {
    margin: 0 15px 0 15px;
  }


  .colone_1_3 img {
    height: 300px;
  }
 
  .colonne_2 img {
    height: 300px;
  }
 
  .colonne_4 img {
    height: 300px;
  }
  /* footer */

  .footer {
    padding-bottom: 20px;
    flex-direction: row;
  }
  .blocfooter h2 {
    margin-top: 10px;
  }

}


/* TABLETTE */


@media screen and (min-width: 426px) and (max-width: 768px){

  .container{
    margin: auto;
    max-width: 768px;
  }



  /* RECHERCHE */

  .recherche {
  
    max-width: 80%;
  }
  .geo {
    width: 20%;
  }

  .recherche button {
    width: 20%;
  }

input{
  width: 60%;
}

  /* filtre */

  .filtre {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* Hébergement à Marseille */

  .main {
    width: 100%;
 
  }

  .plus{
    margin-left: 15px;
    padding-bottom: 25px;
  }
.hebergement_marseille {
  margin: 0;
  margin-top: 10px;
  background-color: white;
}
.ligne_hebergement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.hebergement_marseille img{
  height: 200px;
}
.hebergement_marseille h2{
  margin: 15px;
}
  .populaire {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .populaire img {
    object-fit: cover;
    width: 250px;
    height: 200px;
    border-radius: 20px 0px 0 20px;
    padding: 0.3em;
  }
  .bloc_populaire{
    height: 210px;
  }
  .main {
    width: 100%;
    justify-content: space-between;

  }
.infos_populaire{
  justify-content: space-around;
}
  .vote_pop{
    margin-bottom: 20px;
  }
.text_bloc_populaire{
  justify-content: center;
}
  .bloc_hebergement {
    background-color: white;
    margin: 15px;
  }

  /* Activités à marseille */

  #activites_marseille h2 {
    margin: 0 15px 0 15px;
  }


  .colone_1_3 img {
    height: 300px;
  }
 
  .colonne_2 img {
    height: 300px;
  }
 
  .colonne_4 img {
    height: 300px;
  }
  /* footer */

  .footer {
    flex-direction: column;
    border-radius: 20px;
  }
  .blocfooter h2 {
    margin-top: 10px;
  }

}
